<?xml version="1.0"?>

<model>
  <name>TODO</name>
  <version>1.0</version>
  <sdf version="1.6">gazebo-classic_iris_camera.sdf</sdf>

  <author>
    <name>TODO</name>
    <email>TODO</email>
  </author>


  <maintainer email="TODO">TODO</maintainer>


  <description>
    TODO
  </description>
</model>
